################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArticleRewriteWorker
/ArticleRewriteWorker/bin/Debug/net8.0
/ArticleRewriteWorker/obj
/.vs/ProjectEvaluation
/ArticleRewriteWorker/bin/Release/net8.0/win-x64
/ArticleRewriteWorker/Properties/PublishProfiles
